# Ensemble Learning

## Initial Imports

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced

## Read the CSV and Perform Basic Data Cleaning

In [4]:
# Load the data
file_path = Path('Resources/LoanStats_2019Q1.csv')
df = pd.read_csv(file_path)

# Preview the data
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

## Split the Data into Training and Testing

In [5]:
# Create our features
X = df.drop(columns = 'loan_status')
X = pd.get_dummies(X)

# Create our target
y = df['loan_status']

In [6]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.177238,1.0,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660,1.0,1.0
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.381873,0.0,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637,0.0,0.0
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.0,1.0
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.0
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [7]:
# Check the balance of our target values
# YOUR CODE HERE
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [8]:
# Split the X and y into X_train, X_test, y_train, y_test
# YOUR CODE HERE
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [9]:
# Create the StandardScaler instance
from sklearn.preprocessing import StandardScaler
# YOUR CODE HERE
data_scaler = StandardScaler()

In [10]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
# YOUR CODE HERE
X_scaler = data_scaler.fit(X_train)

In [11]:
# Scale the training and testing data
# YOUR CODE HERE
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Display the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier only, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [12]:
# Resample the training data with the BalancedRandomForestClassifier
# YOUR CODE HERE
from imblearn.ensemble import BalancedRandomForestClassifier
brf = BalancedRandomForestClassifier(n_estimators = 100, random_state = 5)
brf.fit(X_train_scaled, y_train)

BalancedRandomForestClassifier(random_state=5)

In [13]:
# Calculated the balanced accuracy score
# YOUR CODE HERE

y_pred = brf.predict(X_test_scaled)
balanced_accuracy_score(y_test, y_pred)

0.7978640697766

In [14]:
# Display the confusion matrix
# YOUR CODE HERE

confusion_matrix(y_test, y_pred)

array([[   64,    28],
       [ 1710, 15403]], dtype=int64)

In [16]:
# Print the imbalanced classification report
# YOUR CODE HERE

print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.04      0.70      0.90      0.07      0.79      0.61        92
   low_risk       1.00      0.90      0.70      0.95      0.79      0.64     17113

avg / total       0.99      0.90      0.70      0.94      0.79      0.64     17205

In [17]:
# List the features sorted in descending order by feature importance
# YOUR CODE HERE
importances = brf.feature_importances_ 
indices = np.argsort(importances)[::-1]
for f in range(X.shape[1]):
    print(f"{X.columns.values[indices[f]]}: ({importances[indices[f]]})")

total_rec_prncp: (0.0826782354638388)
last_pymnt_amnt: (0.07924578126872732)
total_pymnt_inv: (0.06340173776040132)
total_rec_int: (0.04703486412862571)
total_pymnt: (0.038451456166458405)
int_rate: (0.029664137145827982)
issue_d_Jan-2019: (0.023697499538510202)
max_bal_bc: (0.019948675074151656)
mo_sin_old_rev_tl_op: (0.018954662661047783)
installment: (0.017697088062648896)
annual_inc: (0.016759833482975644)
mths_since_recent_inq: (0.016645908431950095)
bc_util: (0.016257240761764085)
bc_open_to_buy: (0.016114982118394704)
out_prncp_inv: (0.01566445505678635)
il_util: (0.014581951786118787)
dti: (0.014093097458121739)
total_bc_limit: (0.013940965573196388)
total_bal_ex_mort: (0.013888865642326305)
out_prncp: (0.0137289823252889)
tot_hi_cred_lim: (0.013010700368744934)
all_util: (0.01287141075375605)
mo_sin_old_il_acct: (0.012599944166988931)
total_rev_hi_lim: (0.012392007629570847)
revol_bal: (0.012352144196113041)
tot_cur_bal: (0.012258085946707395)
total_bal_il: (0.012085646778757187)
total_acc: (0.011850668503043891)
mths_since_recent_bc: (0.011550159148507053)
total_il_high_credit_limit: (0.011431975949410846)
num_il_tl: (0.011184241112799075)
issue_d_Mar-2019: (0.010617280421428957)
mths_since_rcnt_il: (0.010507700931193242)
num_rev_accts: (0.010390452559290428)
avg_cur_bal: (0.009860031642583061)
mo_sin_rcnt_rev_tl_op: (0.009723641844418592)
num_actv_rev_tl: (0.009284928185035306)
loan_amnt: (0.0092487625707227)
total_rec_late_fee: (0.00909504304148082)
num_sats: (0.00880416141780572)
inq_last_6mths: (0.008435362013089951)
mo_sin_rcnt_tl: (0.008424328381145972)
num_bc_tl: (0.008271497350714085)
inq_fi: (0.00826399406353751)
num_rev_tl_bal_gt_0: (0.008142217417922119)
num_actv_bc_tl: (0.008032748801618167)
open_acc: (0.007979206266770249)
inq_last_12m: (0.007934937913133504)
num_op_rev_tl: (0.007933245901897487)
pct_tl_nvr_dlq: (0.007799068702437353)
total_cu_tl: (0.0076937215943895425)
num_tl_op_past_12m: (0.007452477512659315)
acc_open_past_24mths: (0.007318598698833319)
num_bc_sats: (0.007127162637049023)
open_act_il: (0.0063657460058412834)
issue_d_Feb-2019: (0.006269280307194288)
next_pymnt_d_Apr-2019: (0.006267547303550966)
mort_acc: (0.0061097568189962745)
percent_bc_gt_75: (0.0059673974601101125)
open_rv_24m: (0.00589780316659134)
open_il_24m: (0.005844160138597927)
next_pymnt_d_May-2019: (0.005798435444328989)
open_acc_6m: (0.0051114132889693775)
delinq_2yrs: (0.00478360703552374)
num_accts_ever_120_pd: (0.0038288944657784603)
tot_coll_amt: (0.0036362795027791183)
verification_status_Verified: (0.00322818651993728)
open_rv_12m: (0.003226797990116556)
open_il_12m: (0.0026939167857443027)
verification_status_Source Verified: (0.002556324421091079)
verification_status_Not Verified: (0.002457212825666689)
application_type_Joint App: (0.002369366797502253)
pub_rec_bankruptcies: (0.0017979526830574177)
pub_rec: (0.0017896725493977532)
home_ownership_OWN: (0.0016172556226526343)
home_ownership_MORTGAGE: (0.0014198825379562463)
initial_list_status_f: (0.0013764166214686015)
application_type_Individual: (0.0012684011765729483)
home_ownership_RENT: (0.0011022045626677898)
num_tl_90g_dpd_24m: (0.0010409533684919584)
initial_list_status_w: (0.0008554265960651056)
collections_12_mths_ex_med: (0.00038387562811998527)
chargeoff_within_12_mths: (0.0002079995334174754)
delinq_amnt: (0.0001831374643874644)
home_ownership_ANY: (0.00016672104670798675)
tax_liens: (0.0)
recoveries: (0.0)
pymnt_plan_n: (0.0)
collection_recovery_fee: (0.0)
num_tl_30dpd: (0.0)
num_tl_120dpd_2m: (0.0)
hardship_flag_N: (0.0)
policy_code: (0.0)
acc_now_delinq: (0.0)
debt_settlement_flag_N: (0.0)

### Easy Ensemble Classifier

In [18]:
# Train the Classifier
# YOUR CODE HERE
from imblearn.ensemble import EasyEnsembleClassifier
eec = EasyEnsembleClassifier(n_estimators = 100, random_state = 5)
eec.fit(X_train_scaled, y_train)

EasyEnsembleClassifier(n_estimators=100, random_state=5)

In [19]:
# Calculated the balanced accuracy score
# YOUR CODE HERE
y_pred = eec.predict(X_test_scaled)
balanced_accuracy_score(y_test, y_pred)

0.9304599986280453

In [20]:
# Display the confusion matrix
# YOUR CODE HERE
confusion_matrix(y_test, y_pred)

array([[   85,     7],
       [ 1078, 16035]], dtype=int64)

In [21]:
# Print the imbalanced classification report
# YOUR CODE HERE
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

  high_risk       0.07      0.92      0.94      0.14      0.93      0.86        92
   low_risk       1.00      0.94      0.92      0.97      0.93      0.87     17113

avg / total       0.99      0.94      0.92      0.96      0.93      0.87     17205

### Final Questions

1. Which model had the best balanced accuracy score?

    The Easy Ensemble Classifier had a better accuracy score.

2. Which model had the best recall score?

    The Easy Ensemble Classifier had a better recall score.

3. Which model had the best geometric mean score?

    The Easy Ensemble Classifier had a better geometic mean score.

4. What are the top three features?

    The top three features are total_rec_prncp: (0.0826782354638388), last_pymnt_amnt: (0.07924578126872732) and total_pymnt_inv: (0.06340173776040132).